# URL de la base de données (Supabase/PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/shadowrun"

# Variables front éventuellement nécessaires plus tard
NEXT_PUBLIC_SUPABASE_URL="https://your-project.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="public-anon-key"
